*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #ffffff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

body._lock {
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #F3AE5F;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    min-height: 100px;
    margin: 0 auto;
    padding: 0px 15px;
}

.header__logo {
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;

}

.menu__icon {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 210px;
    padding: 0;
    text-transform: uppercase;
    list-style: none;
}

.menu__link {
    margin-right: 70px;
    color: white;
    font-size: 18px;
    line-height: 1.2;
}

.menu__link:hover {
    text-decoration: underline;
}

main {
    flex: 1 1 auto;
}

.slogan__picture {
    position: relative;
}

.slogan__title {
    position: absolute;
    top: 100px;
    left: 250px;
    color: #fff;
    letter-spacing: 7px;
    line-height: 2em;
}

.courses {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1200px;
}

.courses__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 260px;
    margin: 0 auto;
    padding: 20px;
}

.courses__link {
    text-align: center;
    color: #000;
}

.courses__text {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
}

.about-us {
    min-height: 550px;
}

.about-us__title {
    text-align: center;
    margin-top: 50px;
}

.about-us__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 20px 0 20px;
}

.about-us__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: auto;
    margin-top: 25px;
    list-style: none;
}

.about-us__img {
    box-shadow: 0 0 10px rgba(26, 9, 9, 0.4);
}

.about-us__text {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

}

/* Форма регистрации */

.popup-reg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup-reg:target {
    opacity: 1;
    visibility: visible;
}

.popup-reg:target .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.form__link {
    color: white;
}

.popup__link {
    font-family: Roboto;
    color: #fff;
    padding: 0 10px 0 10px;
    text-transform: uppercase;
}

.popup__link:hover {
    font-weight: bold;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    position: relative;
    background-color: #fff;
    color: #000;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}

.popup__close {
    position: absolute;
    width: 21px;
    height: 21px;
    right: 25px;
    top: 20px;
    text-decoration: none;
    font-size: 0;
    cursor: pointer;
}

.popup__close::before,
.popup__close::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    right: 0;
    border-radius: 3px;
    background-color: #000;
}

.popup__close::before {
    transform: rotate(45deg);
}

.popup__close::after {
    transform: rotate(-45deg);
}

.form-block {
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    height: 450px;
}

.form__user {
    height: 300px;
    border: none;
}

.user__list {
    margin: 0;
    padding: 0;
}

.user__item {
    margin: 0;
    padding: 5px;
    list-style: none;
}

.user__input {
    margin-top: 5px;
    height: 25px;
    width: 350px;
    border-radius: 5px;
}

.user__input:focus {
    border: 2px solid #F3AE5F;
    transform: translateX(10px);
}

label {
    padding-left: 10px;
    text-transform: uppercase;
}

.user__submit {
    margin-top: 10px;
    text-align: center;
}

button {
    cursor: pointer;
    padding: 10px 30px;
    height: 50px;
    color: white;
    background: #F3AE5F;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
}

button:hover {
    opacity: .80;
    font-weight: bold;
}

/* Форма авторизации */

.popup-inp {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup-inp:target {
    opacity: 1;
    visibility: visible;
}


.popup-inp:target .popup-inp__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup-inp__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup-inp__content {
    position: relative;
    background-color: #fff;
    color: #000;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}

.popup-inp__title {
    text-align: center;
}

.popup-inp__close {
    position: absolute;
    width: 21px;
    height: 21px;
    right: 25px;
    top: 20px;
    text-decoration: none;
    font-size: 0;
    cursor: pointer;
}

.popup-inp__close::before,
.popup-inp__close::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    right: 0;
    border-radius: 3px;
    background-color: #000;
}

.popup-inp__close::before {
    transform: rotate(45deg);
}

.popup-inp__close::after {
    transform: rotate(-45deg);
}

.form-inp {
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    height: 400px;
}

.form-inp__user {
    height: 220px;
    border: none;
}

.user-inp__list {
    margin: 0;
    padding: 0;
}

.user-inp__item {
    margin: 0;
    padding: 5px;
    list-style: none;
}

.user-inp__input {
    margin-top: 5px;
    height: 25px;
    width: 350px;
    border-radius: 5px;
}

.user-inp__input:focus {
    border: 2px solid #F3AE5F;
    transform: translateX(10px);
}

.user-inp__submit {
    margin-top: 10px;
    text-align: center;
}

.forget {
    display: block;
    padding-top: 30px;
    text-align: center;
    color: #F3AE5F;
    text-decoration: none;
}

.forget:hover {
    font-weight: bold;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3AE5F;
}

.page-footer__contact,
.page-footer__social {
    padding: 10px 50px;
}

.contact__title {
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.social__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.contact__list,
.social__list {
    list-style: none;
}

.contact__list {
    padding: 0;
}

.contact__item {
    text-align: center;
    padding-top: 15px;
}

.social__item {
    text-align: center;
    padding-right: 70px;
}

.social__item:last-child {
    padding-right: 0;
}

.social__link:hover {
    font-size: 20px;
}

.contact__phone,
.contact__mail,
.contact__adress {
    color: #fff;
}

@media (max-width: 1200px) {
    .header__container {
        max-width: 1170px;
        min-height: 70px;
    }

    .menu__link {
        margin-right: 50px;
        font-size: 16px;
        line-height: 1;
    }

    .popup__link {
        padding: 0 5px 0 5px;
        font-size: 14px;
    }

    .slogan__title {
        left: 150px;
    }

    .about-us {
        margin-bottom: 30px;
    }

}

@media (max-width: 992px) {
    .header__container {
        max-width: 970px;
        padding: 0 11px;
    }

    .menu__link {
        margin-right: 30px;
        font-size: 14px;
    }

    .popup__link {
        font-size: 12px;
    }

    .header__logo {
        width: 30px;
        height: 30px;
    }

    .slogan__title {
        font-size: 20px;
        top: 70px;
        left: 70px;
    }

    .social__item {
        padding-right: 50px;
    }

    .courses {
        padding: 20px 40px;
    }

    .courses__item {
        min-height: 170px;
    }

    .courses__title,
    .about-us__title {
        font-size: 20px;
    }

    .courses__text,
    .about-us__text {
        font-size: 14px;
    }

    .about-us__list {
        flex-direction: column;
        align-items: center;
    }

    .about-us__title {
        margin-top: 25px;
    }

    .about-us__caption {
        font-size: 18px;
    }

    .social__item {
        padding-right: 30px;
    }

    .popup__body {
        padding: 15px 5px;
    }

    .form-block {
        width: 300px;
        height: 350px;
    }

    .form__user {
        height: 250px;
    }

    .user__input {
        width: 250px;
    }

    label {
        font-size: 14px;
    }

    button {
        padding: 7px 20px;
        height: 35px;
    }

    .popup-inp__body {
        padding: 15px 5px;
    }

    .form-inp {
        width: 300px;
        height: 350px;
    }

    .user-inp__input {
        width: 250px;

    }

}

@media (max-width: 767px) {
    .menu {
        flex-direction: column;
    }

    .menu__icon {
        z-index: 7;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .header__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transition: all 0.3s ease 0s;
    }

    .header__menu._active {
        left: 0;
    }

    .header__menu::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: #F3AE5F;
    }

    .menu__list {
        flex-direction: column;
        margin: 0;
    }

    .menu__list>li {
        margin: 0px 0px 30px 0px;
    }

    .menu__link,
    .popup__link {
        font-size: 24px;
    }

    .popup__link:hover {
        font-weight: normal;
        text-decoration: underline;
    }

    .header__popup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .courses {
        flex-direction: column;
    }

    .courses__item {
        height: auto;
    }
}